.code-view {
}

.class-view {
}

.object-view {
}

/*
 * CONSOLE
 */

.console ToolBar Button {
    -fx-background-insets: 0;
    -fx-background-color: transparent, transparent, transparent, transparent;
}

.console StyleClassedTextArea {
    -fx-font-family: monospace;

    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.console StyleClassedTextArea .content {
    -fx-background-color: transparent, white, transparent, white;
}

.console StyleClassedTextArea:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.console StyleClassedTextArea:focused {
    -fx-highlight-fill: #7ecfff;
}

.console StyleClassedTextArea .content {
    -fx-padding: 0px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.infoText {
    -fx-fill: #000000;
}

.exceptionText {
    -fx-fill: #AA0202;
}
